#bodyfaiz {
  background-image: url(mainbackground.jpg);
}

#bodyfaiz>div>header>h1 {
  font-family: "Luckiest guy", cursive;
  font-size: 5rem;
  text-shadow: 6px 6px 3px white;
}

#bodyfaiz>div>header>p {
  font-family: "Luckiest guy", cursive;
  font-size: 3rem;
  text-shadow: 5px 5px 3px white;
}
